body {
	/* background: #060503 url('image/bg.jpg') no-repeat fixed bottom; */
	background-color : #060503;
	background-image : url('image/bg.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:bottom;
	
	margin:0; 
	padding:0;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.0em;
	color: #D3DEE3;
	font-weight: 300;
}

* {
	margin:0;
	padding:0;
}

/** elements **/


h1 {
	color: #ddd;
	font-size: 2.7em;
	font-weight: 200;
}

.width, #container {
	max-width: 900px;
	margin: 0 auto;
}

#container {
	padding: 20px 10px;
}

header {
	padding: 20px;
	margin: 0 auto;
	text-align:center;
	border-radius: 20px;
	background-color: rgba(14, 47, 64, 0.5);
}

header h1 a, header h1 a:hover {
    color: #fff;
    font-size: 1.4em;
    padding: 0px;
   font-weight: 200;
    border-bottom: none;
    letter-spacing: -2px;
   text-shadow: 1px 1px 0px #163A48;
   text-decoration: none;

}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}

nav {
	width: 100%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 10px 0 0;
	text-align: center;
}

nav ul li {
	display: inline;
	padding: 0px 18px;
    text-decoration: none;
}

nav ul li a {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0;
   text-shadow: 1px 1px 0px #163A48;
     border-bottom: none;
}

nav ul li a:hover {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #163A48;
}

nav ul li.selected a,
nav ul li.selected a:hover {
	color: #fff;
}

#body {
	border-radius: 20px;
	background-color: rgba(14, 47, 64, 0.5);
 	padding: 20px;
	margin: 10px 0; 
	clear: both;
}

h2 {
	color: #BCCDD2;
	font-size: 2.2em;
	letter-spacing: -1px;
	padding: 0 0 5px;
	font-weight: bold;
	margin: 0;
}


#content {
    float: left;
}


article {
    padding: 10px 10px 20px 5px;
 }

article h2 {
    padding-bottom: 0;  
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}

.two-column {
	width: 68%;
}

.with-left-sidebar {
	margin-left: 2%; 
}

.sidebar {
	margin-top: 10px;
}

.big-sidebar {
	width: 30%;
}

.right-sidebar {
	float: right;
}

a {
	color: #ACC1C8;
	border-bottom: 1px solid #ACC1C8;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #fff;
	color: #fff;
}

h3 {
	color: #eee;
	font-size: 1.9em;
	margin-bottom: 10px;
	letter-spacing: 0px;
	font-weight: bold;
}

h4 {
    /* color: #08202B; */
    color: #ffffff;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 10px;
}

h5 {
	padding-bottom: 10px;
	font-size: 1.1em;
	color: #eee;
}


.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
	padding: 10px;
}

.sidebar ul li.bg {
	background-color: #113E4B;
}

.sidebar ul li.bg h4 {
	color: #ACC1C8;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 7px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 0.85em;
}

.sidebar ul.blocklist {
	border-top: 1px solid #0D2F3F;
}

.sidebar ul.blocklist li {
	border-bottom: 1px solid #0D2F3F;
	padding: 0;
}

.sidebar ul.blocklist li a {
	border-bottom: 0;
	display: block;
	padding: 12px 10px;
}

.sidebar ul.blocklist li a.selected {
	 background-color: #9CB4BD;
    	background-image: linear-gradient(#9CB4BD, #7E9DA9);
    	color: #455E68;
	font-weight: bold;
}

.sidebar ul.newslist li {
	padding: 20px 5px;
	border-bottom: 1px solid #0D2F3F;
}

.sidebar ul.newslist p {
	margin-bottom: 0;
}

table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #fff;
	background: #113E4B none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #0D2F3F;
}


fieldset {
	display: block;
	border: none;
	border-top: 1px solid #0D2F3F;
}

fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	padding-right: 10px;
	color: #ccc;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #0D2F3F;
	border-right:1px solid #9CB4BD;
	border-bottom:1px solid #9CB4BD;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

form input.formbutton {
	border: none;
	background: #9CB4BD;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 0.8em;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

footer  {
	padding: 10px;
	margin-top: 20px;
	text-align: center;
}

footer p {
	text-align: center;
	margin-bottom: 0;
}